button{
    background-color: #d87d6d ;  /* Aseguramos que el color se aplique con !important */
    border-color: #d87d6d;
}
.caja{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-left: 10px; 
    padding-right: 10px;

}
.rut_mensaje{
    text-decoration: underline;

}

.mensaje{
    color: red(212, 0, 255);
    
}
.contenido_pequeño {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}
.contenido_pequeño input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}
.inicio_sesion {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
/* Mostrar el modal cuando se accede al ID "loginModal" */
.olv {
    margin-top: 10px;
    background-color: #d87d6d;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}

.olv:hover {
    background-color: rgb(184, 6, 6);
    text-decoration: none;
    color: #ccc;
}

.boton_iniciar{
    border: 0;
    padding: 12px;
}
.boton_iniciar:hover{
    background-color: rgb(184, 6, 6);
    border: 0;
    padding: 12px;
}