/* Estilos para botones de navegación */
.btn-navegacion {
    background-color: #d87d6d; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cursor tipo puntero al pasar el mouse */
    transition: background-color 0.3s ease; /* Transición suave para el color */
}

.btn-navegacion:hover {
    background-color: #bf5643 ; /* Color de fondo al pasar el mouse */
}

.table {
    width: 100%;
    table-layout: fixed; /* Asegura que las columnas se distribuyan de manera equitativa */
  }
  