/* Estilos para botones de navegación */
.btn-navegacion {
    background-color: #4d868d;
    color: white;
    border: none; 
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-navegacion:hover {
    background-color: #3b5c63 ;
}

/* Estilos para tablas */
.table {
    width: 100%;
    table-layout: fixed;
}

/* Estilos para componentes dashboard */
.tarjeta {
  border-radius: 10px;
  background-color: white; 
}

.Mapa, .Donut, .Fecha{
  border-radius: 8px;
  overflow: hidden; 
}

.Mapa iframe {
  border-radius: 8px;
}

.Donut canvas {
  border-radius: 8px;
}

.Fecha line{
  border-radius: 8px; 
}

.Barras  {
  width:  100%;
  border-radius: 8px;
  overflow: hidden;
}
.fondo {
    background-color: #7aacb2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
footer {
  background-color: #fff; /* Color de fondo */
  border-radius: 20px; /* Crea la forma ovalada */
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}