

body {
    background-color:rgb(255, 255, 255);   /*#d87d6d*/
}



.navbar{
    background-color: #d87d6d ;
} 
.navbar-brand, .nav-link {
    margin-top: 1%;
    margin-block-end: 1%;
    color: #000000 !important; 
}
.nav-link:hover {
    background-color: #db624d; 
    color: white !important;
}



header{
    background-color: #d87d6d;
}

